body::after{
    content: "XS";
    position: fixed;
    right: 0;
    bottom: 0;
}

@media(min-width: 576px){
    body::after{
        content: "SM";
    }
}

@media(min-width: 768px){
    body::after{
        content: "MD";
    }

    
}

@media(min-width: 992px){
    body::after{
        content: "LG";
    }
}

@media(min-width: 1200px){
    body::after{
        content: "XL";
    }
}

@media(min-width: 1400px){
    body::after{
        content: "XXL";
    }
}

.carousel-item img{
    height: 75vh;
    object-fit: cover;
    object-position: center;
    overflow: auto;
    filter: url(/img/overlay.png);
}

.kotak{
    background-color: red;
    height: 10vh;
    color: #eee;
}

.navbar{
    min-height: 10%;
}

.carousel-caption p{
    color: #151515;
}

.carousel-caption h5{
    color: #151515;
}

.padrock{
    padding: 80px 0px;
}

@keyframes anihover{
    0%{background-image: linear-gradient(transparent); margin-top: 0.0;}
    5%{background-image: linear-gradient(to right, magenta, transparent, transparent, transparent, transparent, transparent, magenta); margin-top: 0.3;}
    10%{background-image: linear-gradient(to right, magenta, transparent, transparent, transparent, magenta); margin-top: 0.6px;}
    15%{background-image: linear-gradient(to right, transparent, magenta, transparent, magenta, transparent); margin-top: 0.9px;}
    20%{background-image: linear-gradient(to right, transparent, transparent, magenta, transparent, transparent); margin-top: 1.2px;}
    25%{background-image: linear-gradient(to right, transparent, transparent, magenta, magenta, magenta, transparent, transparent); margin-top: 1.5px;}
    30%{background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, magenta, magenta, transparent); margin-top: 1.8px;}
    100%{background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, magenta, magenta, transparent); margin-top: 2px;}
}


.card:hover{
    height: 3px;
    animation-name: anihover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}    