body::after{
    content: "XS";
    position: fixed;
    right: 0;
    bottom: 0;
}

@media(min-width: 576px){
    body::after{
        content: "SM";
    }
}

@media(min-width: 768px){
    body::after{
        content: "MD";
    }
}

@media(min-width: 992px){
    body::after{
        content: "LG";
    }
}

@media(min-width: 1200px){
    body::after{
        content: "XL";
    }
}

@media(min-width: 1400px){
    body::after{
        content: "XXL";
    }
}

.carousel-item img{
    height: 75vh;
    object-fit: cover;
    object-position: center;
    overflow: auto;
    filter: url(/img/overlay.png);
}

.kotak{
    background-color: red;
    height: 10vh;
    color: #eee;
}

.carousel-caption p{
    color: #151515;
}

.carousel-caption h5{
    color: #151515;
}

.padrock{
    padding: 80px 0px;
}

@keyframes anihover{
    0%{background-image: linear-gradient(transparent);}
    5%{background-image: linear-gradient(to right, transparent, transparent, magenta, transparent, transparent);}
    10%{background-image: linear-gradient(to right, transparent, magenta, transparent);}
    15%{background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, transparent);}
    /* 20%{
        .card {
            background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, transparent);
        }
    } */
}

@keyframes aniend{
    15%{background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, transparent);}
}

.card {
    height: 0;
    position: relative;
}

.card:hover{
    height: 2px;
    position: relative;
    animation-name: anihover;
    animation-duration: 2s;
    /* animation-name: aniend;
    animation-delay: 2s;
    ani */
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;



    
    /* background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, transparent); */
}    