body::after{
    content: "XS";
    position: fixed;
    right: 0;
    bottom: 0;
}

@media(min-width: 576px){
    body::after{
        content: "SM";
    }
}

@media(min-width: 768px){
    body::after{
        content: "MD";
    }

    
}

@media(min-width: 992px){
    body::after{
        content: "LG";
    }
}

@media(min-width: 1200px){
    body::after{
        content: "XL";
    }
}

@media(min-width: 1400px){
    body::after{
        content: "XXL";
    }
}

.carousel-item img{
    height: 75vh;
    object-fit: cover;
    object-position: center;
    overflow: auto;
    filter: url(/img/overlay.png);
}

.kotak{
    background-color: red;
    height: 10vh;
    color: #eee;
}

.navbar{
    min-height: 10%;
}

.carousel-caption p{
    color: #151515;
}

.carousel-caption h5{
    color: #151515;
}

.padrock{
    padding: 80px 0px;
}

/* @keyframes anihover{
    0%{background-image: linear-gradient(transparent); margin-top: 0.0;}
    15%{background-image: linear-gradient(to right, magenta, transparent, transparent, transparent, transparent, transparent, magenta); margin-top: 0.3;}
    30%{background-image: linear-gradient(to right, magenta, transparent, transparent, transparent, magenta); margin-top: 0.6px;}
    45%{background-image: linear-gradient(to right, transparent, magenta, transparent, magenta, transparent); margin-top: 0.9px;}
    60%{background-image: linear-gradient(to right, transparent, transparent, magenta, transparent, transparent); margin-top: 1.2px;}
    75%{background-image: linear-gradient(to right, transparent, transparent, magenta, magenta, magenta, transparent, transparent); margin-top: 1.5px;}
    90%{background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, magenta, magenta, transparent); margin-top: 1.8px;}
    100%{background-image: linear-gradient(to right, transparent, magenta, magenta, magenta, magenta, magenta, transparent); margin-top: 2px;}
} */

.card{
    transition: all 1s ease-in-out;
    position: relative;
}

.card:after{
    background-image: radial-gradient(circle, magenta, transparent);
    opacity: 0;
    height: 3px;
    position: absolute;     
    top: -1px;
    content: "";

    transition: opacity 1s ease-in-out;
}

.card:hover:after{
    opacity: 1;
}

.card:hover{
    /* height: 3px;
    animation-name: newani;
    animation-duration: 0.7s;
    animation-fill-mode: forwards; */

    translate: 0px 5px;
    opacity: 1;
}    

a img{
    transition: all 1s;
}

a img:hover{
    scale: 105%;
}